<div class="meetings-container">
  <h2 class="page-title">Lists</h2>

  <div class="list-index">
    <% @lists.each do |list| %>
      <div class="list-item">
        <h3><%= list.name %></h3>

        <h1><%= list.books.count %></h1>

        <%= link_to list_path(list), class: "btn btn-primary" do %> <!-- Un-commented the button link -->
          View List
        <% end %>
      </div>
    <% end %>
  </div>
</div>
