<div class="meetings-container">
  <h2 class="page-title">Lists</h2>

<!--
  <div class="list-index">
    <%# <% current_user.lists.each do |list| %> %>
      <div class="list-item">
        <%# <h3><%= list.name %></h3> %>
        <%# <p>Books: <%= list.books.count %></p> %>
        <%# <a href="<%= list_path(list) %>">View List</a> %>
      <%# </div> %>
    <%# <% end %>
  </div>
</div>
-->

<div class="list-index">
  <div class="list-item">
    <h3>TBA List</h3>
    <p>Books: 8</p>
    <a href="/lists/tba">View List</a>
  </div>
  <div class="list-item">
    <h3>Read List</h3>
    <p>Books: 63</p>
    <a href="/lists/read">View List</a>
  </div>
  <div class="list-item">
    <h3>Currently Reading</h3>
    <p>Books: 12</p>
    <a href="/lists/reading">View List</a>
  </div>
</div>
