<div class="meetings-container">
  <h2 class="page-title">Lists</h2>

  <div class="list-index">
    <% if @lists.any? %>
      <% @lists.each do |list| %>
        <div class="list-item">
          <h3><%= list.name %></h3>
          <h1><%= list.books.count %></h1>
          <%= link_to list_path(list), class: "btn btn-primary" do %>
            View List
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>No lists found for <%= @current_user.name %></p>
    <% end %>
  </div>
</div>
