<!-- Club Meeting SHOW Page -->

<div class="meeting-container">
  <div class="cover-circle"></div>
  <h2 class="page-title"><%= @meeting.book.title %></h2>

  <div class="meeting-show-card">
    <div class="meeting-details">
      <p>Date: <span>XX/XX/XXXX</span></p>
      <p>Ratings: <span>XX%</span></p>
      <div class="book-info">
        <div class="book-cover"></div> <!-- Placeholder for book cover -->
        <div class="book-meta">
          <p>Title: <%= @meeting.book.title %></p>
          <p>Author: <%= @meeting.book.title %></p>
          <p>First Published</p>
          <p>Date Added</p>
          <p>Rating</p>
        </div>
      </div>
    </div>
  </div>
  <div class="notes-section">
    <h3>Notes</h3>
    <p>.......................................................</p>
    <p>.......................................................</p>
    <p>.......................................................</p>
    <p>.......................................................</p>
  </div>
</div>
