// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #8cc977;
$gray: #0E0000;
$light-gray: #F4F4F4;

$sky: #CBD5D7;
$cool: #708E91;
$warm: #D8B692;
$deep: #708E91;
$accent1: #B98960;
$accent2: #3A5154;

$primary: #C7C8CC;
$secondary: #abb3ce;
$tertiary: #CBD5D7;


// $dark-blue: #232946;
// $pink: #EEBBC3;
// $light-blue: #B8C1EC;
// $light-grey: #D9D4E7;
