.list-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 20px;
  min-height: 100vh;
}



.list-item {
  // display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  font-weight: bold;
  margin: 40px 0; /* Adds space between list items */
  border-radius: 15px;
  background: $accent2;
  box-shadow:1px -10px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  min-width: 330px; /* Controls the width of each list item */
  min-height: 200px;
  text-align: center;

  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;




  &:nth-child(n+2) { // All except the first card
    margin-top: -80px; // Overlapping effect
  }


  /* Books count display */
 p {
  font-size: 1.1rem;
  margin: 5px 0;
  color: #555; /* Soft text color */
}

h3{
  padding: 10px;

  font-size: 1.1rem;
  font-weight: 600;
}
h1{
  padding: 15px;
  border: 1px solid #4e4e4eb4;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 900;
}


}

/* Add subtle hover effect on list item */
.list-item:hover {
  transform: translateY(-10px);
  background: $gray;
}


/*  background colors for different list types */
// .list-item:nth-child(4n+1) {
//   background: $accent3;
// }
// .list-item:nth-child(4n+2) {
//   background: $accent2;
// }
