<div class = "container">


<h1>Welcome to The District Reading Rooms</h1>
<p>A quiet space, a shared ritual. Words unfold, ideas take shape, and books
  become more than just pages—they become conversations, connections, echoes of distant voices.</p>
<p>In the 19th century, district reading rooms became vital spaces for public learning and community engagement.
   Designed to provide access to books and knowledge, they served as more than just libraries—
   they were gathering places where people could read, exchange ideas, and expand their perspectives.
    Inspired by this tradition, District Reading Rooms continues the spirit of shared learning,
     bringing readers together to explore stories and conversations that transcend time.</p>

<h3>Join Us</h3>
<p>No rules, no rush. Just a place to find like-minded people, to read, reflect,
  and return, again and again.</p>
</div>
