.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  // gap: 25px;
  // bottom: 100px;
  margin-top: 100px;
  width: 100%;
  position: relative;

}

.btn {
  min-width: 100px;
    min-height: 40px;
    border-radius: 20px;
    box-shadow: 1px 2px 13px rgba(0, 0, 0, 0.2);
    border: 0px solid rgba(105, 105, 105, 0.397);
}
.btn-primary {
  background-color: $accent3;
  color: white;

}

.btn-secondary {
  background-color: $accent2;
  color: $text;

}

.btn-new{
  background-color: $yellow;
  color: $text;
  width: 100%;
}


.btn-delete {
  background-color: $accent3;
  color: black;

}

input {
  box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.3);
  border: 0px solid rgba(105, 105, 105, 0.397);
  border-radius: 20px;
  min-height: 40px;
  padding: 5px;
}

.field {
 
  padding: 10px;
}
