// General Flexbox Utility
@mixin flex-center {
  display: flex;
  align-items: flex-end;

}

.navbar {
  width: 100vw;
  justify-content: space-between;
  padding: auto 24px;
  padding-bottom: 1px;
  gap: 54px;
  @include flex-center;
  text-align: center;
  box-shadow: inset 1em 1em 10px 0px #81818173;
  // box-shadow:1px -10px 10px rgba(0, 0, 0, 0.3);
  border-bottom: solid 8px $accent3;
  align-content: flex-end;
  align-items: flex-end;

  .navbar-brand {
    height: 55px;
    width: 35px;
    background-color: $accent3;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.3);
  }

  .nav-item {
    margin-left: 16px; /* Space out navigation items */
  }

  .navbar-collapse {
    .bookshelf {
      display: flex;
      justify-content: space-evenly;
      gap: 1px;
    }
  }


  a {
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
  }

}

// Book sizes
.book-s, .book-m, .book-l, .ro90 {
  border: solid 5px $accent3;
  box-shadow: 2px -4px 3px 3px rgba(58, 58, 58, 0.2);
}

.book-s { height: 35px; }
.book-m { height: 45px; border: solid 7px $accent3; }
.book-l { height: 50px; }
.ro90 {
  width: 40px;
  margin-top: 2px;
}

// Bookshelf layout
.bookshelf {
  @include flex-center;
  gap: 2px;
}

.ro {
  transform: rotate(20deg);
  transform-origin: center;
  margin: 0 5%;
}

.gap {
  width: 30px;
}

// Books-toggler styles
.books-toggler {
border: none;
  cursor: pointer;
}


// Search bar
#search {
  position: absolute;
  bottom: 5px;
  right: 250px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;

}
