
.stacked-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px; /* Space between each block */
  padding: 20px;
  // background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  min-height: 60vh;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}

.stacked-item {
  height: 35px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: baseline;
}


.stacked-book-info {
  text-align: center;
  padding: 10px;
}
/* Different background colors for each block */


.item1 {
  background-color: $accent1;
  width: 140px;
}

.item2 {
  background-color: $accent2;
  width: 190px;
}

.item3 {
  background-color: $accent3;
  width: 180px;
}

.item4 {
  background-color: $accent1;
  width: 200px;
}
.item5 {
  background-color: $accent3;
  width: 220px;
}
